# Localhost docker-compose for testing docker builds (assumes postgres on host)
# You should create overrides for other environments: https://docs.docker.com/compose/extends
version: '3.6'

services:
  server:
    build:
      context: server/.
    environment:
      - DB_HOST=host.docker.internal
      - REDIS_HOST=host.docker.internal
    env_file:
      - server/.env
    ports:
      - 127.0.0.1:5000:5000
    restart: unless-stopped
  client:
    build:
      context: client/.
      args:
        VITE_API_URL: http://server:5000
        VITE_SECRET_KEY: 7c147ee595e49aef6febd277ed36eb2ad3535c7ecd6f818f6da34b7093f1ded4
    ports:
      - 127.0.0.1:3000:3000
    depends_on:
      - server
    restart: unless-stopped
